hal_client_domain(system_app, hal_mlipay)
allow system_app proc_pagetypeinfo:file { read open getattr };
allow system_app sysfs_zram:dir { search };
allow system_app sysfs_zram:file { read open getattr };
allow system_app zygote:unix_stream_socket { getopt };
get_prop(system_app, qemu_hw_prop)
binder_call(system_app, storaged)
binder_call(system_app, wificond)
allow platform_app self:dir rw_dir_perms;
