on property:sys.boot_completed=1
    # Uclamp tuning
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 96
    write /proc/sys/kernel/sched_util_clamp_min 128

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.max "max"
    write /dev/cpuctl/top-app/cpu.uclamp.min 20
    write /dev/cpuctl/top-app/cpu.uclamp.boosted 1
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1

    # foreground
    write /dev/cpuctl/foreground/cpu.uclamp.max 50
    write /dev/cpuctl/foreground/cpu.uclamp.min 20
    write /dev/cpuctl/foreground/cpu.uclamp.boosted 0
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0

    # background
    write /dev/cpuctl/background/cpu.uclamp.max "max"
    write /dev/cpuctl/background/cpu.uclamp.min 20
    write /dev/cpuctl/background/cpu.uclamp.boosted 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0

    # system-background
    write /dev/cpuctl/system-background/cpu.uclamp.max 50
    write /dev/cpuctl/system-background/cpu.uclamp.min 10
    write /dev/cpuctl/system-background/cpu.uclamp.boosted 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0